@import "tailwindcss";

@theme {
  --color-green: #52796f;
  --color-blue: #3a506b;
  --color-light-beige: #f8f6ef;

  --font-body: "Hind", serif;
  --font-title: "Montserrat", serif;
}

h1 {
  font-family: var(--font-title);
}

body {
  font-family: var(--font-body);
}
